@import "tailwindcss";

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    animation: move 14s infinite linear;
}

@keyframes move {
    from { translate: 0; }
    to { translate: -100%; }
}